FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080
SECRET_KEY="j@m_d$te_876"
UPLOAD_FOLDER="pictures"
DATABASE_URL=postgresql://jam_date_user:jam_date_password@localhost:5432/jam_date
VITE_API_BASE_URL=http://localhost:8080