FLASK_APP=app
FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080
SECRET_KEY="j@m_d$te_876"
UPLOAD_FOLDER="pictures"
JWT_SECRET_KEY="cdf36175d0579edbf226f843803f7bf2afed2f7b9e09fb582ccfb677b5e71538a8c53372c27810ddca62d0691cfd419f20d7fd9a0e126cc3e1f1c0e92bc44ab1"
JWT_TOKEN_LOCATION=headers
JWT_ACCESS_TOKEN_EXPIRES=3600
DATABASE_URL=postgresql://jam_date_user:jam_date_password@localhost:5432/jam_date